<!-- cocina.component.html -->
<div class="contenedor-ordenes">
  <h1 class="titulo-principal">Ordenes</h1>

  <!-- COLA DE PEDIDOS -->
  <section class="seccion seccion-cola">
    <h2>Cola de Pedidos</h2>
    <div class="tarjetas">
      <div
        class="tarjeta-orden"
        *ngFor="let pedido of colaPedidos"
        (click)="seleccionarPedido(pedido)"
      >
        <h3>Orden #{{ pedido.id_pedido }}</h3>
        <p>Nombre cliente: {{ pedido.nombre_cliente }}</p>
        <ul>
          <li *ngFor="let plato of pedido.platos">
            {{ plato.nombre_menu }} x{{ plato.cantidad }}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- DETALLES DEL PEDIDO SELECCIONADO -->
  <section class="modal" *ngIf="pedidoSeleccionado">
    <div class="modal-contenido">
      <h3>Orden #{{ pedidoSeleccionado.id_pedido }}</h3>
      <p>
        <strong>Nombre cliente: {{ pedidoSeleccionado.nombre_cliente }}</strong>
      </p>
      <div class="ingredientes" *ngFor="let plato of pedidoSeleccionado.platos">
        <h4>🍽️ {{ plato.nombre_menu }} x{{ plato.cantidad }}</h4>
        <div class="bloque-ingredientes">
          <div *ngFor="let tipo of tiposIngrediente">
            <p>
              <strong>{{ tipo }}:</strong>
            </p>
            <ul>
              <li *ngFor="let ing of agruparIngredientes(plato, tipo)">
                {{ ing.nombre }} x{{ ing.cantidad }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <button
        (click)="empezarPreparacion(pedidoSeleccionado)"
        *ngIf="colaPedidos.includes(pedidoSeleccionado)"
      >
        Empezar a Preparar
      </button>
      <hr style="margin: 20px 0" />
      <button class="cerrar" (click)="cerrarDetalles()">Cerrar</button>
    </div>
  </section>

  <!-- PLATOS EN PREPARACIÓN -->
  <section class="seccion seccion-preparacion">
    <h2>Platos en Preparación</h2>
    <div class="tarjetas">
      <div
        class="tarjeta-orden"
        *ngFor="let pedido of pedidosEnPreparacion"
        (click)="seleccionarPedido(pedido)"
      >
        <h3>Orden #{{ pedido.id_pedido }}</h3>
        <p>Nombre cliente: {{ pedido.nombre_cliente }}</p>
        <ul>
          <li *ngFor="let plato of pedido.platos">
            {{ plato.nombre_menu }} x{{ plato.cantidad }}
          </li>
        </ul>
        <button
          class="listo"
          (click)="marcarListo(pedido); $event.stopPropagation()"
        >
          Listo ✅
        </button>
      </div>
    </div>
  </section>
  <!-- PEDIDOS LISTOS PARA ENTREGA -->
  <section class="seccion seccion-listos">
    <h2>Pedidos Listos para Entrega</h2>
    <div class="tarjetas">
      <div
        class="tarjeta-orden listo-entrega"
        *ngFor="let pedido of pedidosListos"
        (click)="seleccionarPedido(pedido)"
      >
        <h3>Orden #{{ pedido.id_pedido }}</h3>
        <p>Nombre cliente: {{ pedido.nombre_cliente }}</p>
        <ul>
          <li *ngFor="let plato of pedido.platos">
            {{ plato.nombre_menu }} x{{ plato.cantidad }}
          </li>
        </ul>
        <button
          class="entregado"
          (click)="marcarEntregado(pedido); $event.stopPropagation()"
        >
          Entregado 🚚
        </button>
      </div>
    </div>
  </section>
</div>
