<div class="container">
  <h2>Nueva contraseña</h2>
  <p>Crea tu nueva contraseña de acceso</p>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      minlength="8"
      required
      placeholder="Nueva contraseña"
      class="input"
    />
    <input
      type="password"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
      minlength="8"
      placeholder="Confirmar contraseña"
      class="input"
    />

    <button
      type="submit"
      [disabled]="!loginForm.valid || isLoading || !passwordsMatch()"
      class="button"
    >
      <span *ngIf="!isLoading">Actualizar contraseña</span>
      <span *ngIf="isLoading" class="spinner"></span>
    </button>
    <p *ngIf="!passwordsMatch()" class="error">Las contraseñas no coinciden</p>
    <p *ngIf="error" class="error">{{ error }}</p>

    <button class="link-button" (click)="goBack()">← Volver</button>
  </form>
</div>
