.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.icon-success {
  font-size: 60px;
  color: #ffffff;
  background-color: rgb(94, 158, 76);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  color: var(--primary);
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
  cursor: pointer;
  padding: 12px 24px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
}
