body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 360px;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 24px var(--shadow);
  text-align: center;
}

.title {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 10px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  color: rgb(138, 138, 138);
  margin-bottom: 24px;
}

.input {
  width: 90%;
  padding: 14px;
  margin-bottom: 16px;
  background-color: var(--input-bg);
  border: 2px solid transparent;
  border-radius: 12px;
  font-size: 15px;
  transition: border-color 0.3s ease;
  align-items: center;
}

.input:focus {
  outline: none;
  border-color: var(--input-focus);
  box-shadow: 0 0 6px var(--input-focus);
  background-color: #fff;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  font-size: 13px;
  color: var(--primary);
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 14px;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 10px var(--shadow);
  transition: background-color 0.3s ease;
}

.login-button:hover:not(:disabled) {
  background-color: var(--accent);
}

.login-button:disabled {
  background-color: var(--disable);
  cursor: not-allowed;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-secondary);
}

.register-link a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  font-size: 11px;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
