/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #da5e2b;
  --accent: #e0782f;
  --input-bg: #fdf6f0;
  --input-focus: #da5e2b;
  --text-secondary: #875638;
  --yellow: #eccb6c;
  --disable: rgb(248, 179, 115);
  --shadow: rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  cursor: pointer;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
